<div class="jumbotron">
  <div class="table-row">
    <div class="table-cell header">Short URL</div>
    <div class="table-cell header">Long URL</div>
    <div class="table-cell header">Max Clicks</div>
    <div class="table-cell header">Expiry Date</div>
    <div class="table-cell"></div>
    <div class="table-cell"></div>
    <div class="table-cell"></div>
  </div>

  <%= render @urls %>
</div>
