.visits {
  margin-top: 20px;
}

.edit-link-form {
  margin-top: 20px;
}

.max-clicks {
  max-width: 155px;
}

.expiry-date {
  max-width: 150px;
}

.table-row {
  display: grid;
  grid-template-columns: 25% 40% 10% 10% 5% 4% 6%;
}

.table-cell{
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.columns-3 {
  grid-template-columns: 30% 60% 10%;
}

.table-cell{
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.delete {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-cell-max-clicks {
  padding-left: 35px;
}

.short-url-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.short-url {
  font-weight: 700;
  max-width: 300px;
}

.field-label {
  margin-top: 20px;
}

.custom-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.save-btn {
  margin-bottom: 30px;
}
